.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card_custom {
    background-color: rgba(255, 255, 255, 0.875) !important;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.365);
    transition: transform 0.2s ease-in-out;
}

.card_custom:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.register_btn:hover {
    cursor: pointer;
}

.card_custom h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
}

.card_custom p {
    font-size: 1em;
    color: #555;
}

.register_btn {
    text-decoration: none;
    padding: 1rem;
    background-color: #602e68;
    border-radius: 25px;
    color: white;
    transition: transform 0.2s ease-in-out;
}


.vote_button,
.submit_review_button,
.home_button,
.button_registration_form {

    background-color: #602e68 !important;
    color: white !important;
    ;
}

.review-description {
    word-wrap: break-word;
    white-space: normal;
}

.add_reviews {
    background-color: rgba(255, 255, 255, 0.875);
}

.show_reviews {
    background-color: rgba(255, 255, 255, 0.875);
}

.show_doctor {
    background-color: rgba(255, 255, 255, 0.875);
}